:root {
    --blue: #13a6f0;
    --grey: #2d3134;
    --orange: #ca9832;
    --hoverColor: #879c75;
    --headerHeight: 60px;
    --todoHeaderHeight: 40px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

.header {
    background: linear-gradient(to right, var(--grey), var(--blue));
    color: white;
    padding: 10px;
    text-align: center;
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    

.content {
    padding: 10px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    
}


.todolist {
    width: 100%;
    text-align: center;
    height: 400px;

    border: 1px solid;
    border-color: var(--blue);
    margin: 10px;
    
}

.todolist header{
    background: linear-gradient(to right, var(--blue), var(--orange));
    color: white;
    height: var(--todoHeaderHeight);
    line-height: var(--todoHeaderHeight);
}

.todolist div{
    height: 100%;
    overflow: auto;
    height: 360px;
}

.todolist ul {
    list-style: none;
}

.todolist ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
}

.todolist ul li:hover{
    background-color: var(--hoverColor);
    color: white;
    font-size: larger;
}

.deletebtn, .editbtn, .arrowrightbtn,.arrowleftbtn{
    height: 30px;
    width: 20px;
}

.todolist2 {
    width: 100%;
    text-align: center;
    height: 400px;

    border: 1px solid;
    border-color: var(--blue);
    margin: 10px;
    
}

svg{
    pointer-events: none;
}

span{
    overflow: auto;
}